doctype html
html.index(lang="en-US")
  head
    include head.pug
  body
    #particles-oli-wrapper
    .index-wrapper
      header.head.index
        h1.head-title.u-fl
          = config.title
        include nav.pug

    != js('js/dots.min.js')
    != js('js/dots.oli.js')

    include ../plugins/google.pug
