doctype html
html(lang="en-US")
  head
    include head.pug

  body
    header.head
      h1.head-title.u-fl: a(href = config.root)
        = config.title
      include nav.pug
      
    main.main
      block main
    
    footer.foot
      div.foot-copy
        if theme.start_year != date(new Date(), 'YYYY')
          != '&copy; ' + theme.start_year + '-' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)
        else
          != '&copy; ' + date(new Date(), 'YYYY') + ' ' + (config.author || config.title)

    include ../plugins/google.pug
    
    // != js('js/scroller')
    // != js('js/main')
