nav.head-nav.u-fr
  ul.head-nav__list
    each val, index in theme.menu
      li.head-nav__item
        a.head-nav__link(href = url_for(val.url))
          != fa_inline(val.icon, {prefix: val.prefix})