extends views/main.pug

block head
  title
    = page.title + ' - ' + config.author

block main
  include mixins/post.pug
  +post(page, 'post')
  
  include plugins/reward.pug
  include plugins/disqus.pug
