mixin gallery(post, index)

  if post.photos && post.photos.length
    div.gallery#gallery
      each item, index in post.photos
        a(href = item, data-fancybox="gallery", group='oli-image-gallery' class = className): img(src = url_for(item), alt='gallery-image')
